@font-face {
  font-family: "CreditCard";
  src: local("CreditCard"),
    url("./fonts/CreditCard.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
  align-items: center;
  background-color: rgb(245, 245, 245);
}